<%= form_with(model: chapter, local: true) do |form| %>
  <% if chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% chapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%#= form.number_field :user_id, id: :chapter_user_id %>
    <%= collection_select(:chapter, :user_id, User.all, :id, :email) %>
  </div>

  <div class="field">
    <%= form.label :book_id %>
    <%#= form.number_field :book_id, id: :chapter_book_id %>
    <%= collection_select(:chapter, :book_id, current_user.books, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :chapter_number %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :chapter_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
